<div class="row">
	<form class="col s12">
		<div class="row">
      <div class="row">
        <img src="img/refill.png">
      </div>

		  <div class="row">
        <div class="input-field col s12">
          <input  id="email" ng-model="email" type="email" class="validate">
          <label data-i18n="auth.email" for="email"></label>
    	 </div>
    	</div>
      	<div class="row">
        	<div class="input-field col s12">
          		<input  id="password" ng-model="password"  type="password" class="validate">
          		<label data-i18n="auth.password" for="password"></label>
        	</div>
      	</div>
  	<div class="row center-align ">
			<a data-i18n="auth.forgotPassword" id="forgotPassword" href="#" class="red-text text-darken-2"></a>
		</div>
      	<div class="row center-align">
      		 <button data-i18n="auth.login" ng-click="signIn()" class="teal btn waves-effect waves-light" name="action"></button>
      	</div>
      <p data-i18n="auth.loginWith" class="row center-align teal-text text-darken-2"></p>
      
      <div  class="row center-align">
    		<i class="fa fa-facebook-square" ng-click="signInWithProvider('facebook')" style="font-size:36px; color: #3b5998;"></i>
    		<i class="fa fa-google-plus-square" ng-click="signInWithProvider('google')" style="font-size:36px; color: #dd4b39;"></i>
    		<i class="fa fa-twitter-square"  ng-click="signInWithProvider('twitter')" style="font-size:36px; color: #55acee;"></i>
    	</div>
      <p ng-if="error">Error: <strong>{{ error }}</strong></p>
    	<br>
    	<div class="row center-align">
			   <a data-i18n="auth.createAccount" id="lnkCreateAccount" href="auth/create" class=""></a>
		  </div>
		
		</div>
	</form>
</div>	
