<div class="login-div">
	<form class="login-form " action="#">
		<div class="w3-card-4">
			<header class="w3-container w3-theme w3-center">
			  <h3><span class="w3-tag w3-round w3-text-theme w3-white">2</span>Gether</h3>
			</header>
			<div class="w3-input-group" >      
              <input data-i18n-attr="{placeholder: 'auth.email'}" id="email" class="w3-input"  type="email" required>
            </div>
            <div class="w3-input-group">      
              <input data-i18n-attr="{placeholder: 'auth.password'}" id="password" class="w3-input"  type="password" required>
            </div>
            <div class="w3-input-group">      
              <input data-i18n-attr="{placeholder: 'auth.confPassword'}" id="confPassword" class="w3-input"  type="password" required>
            </div>
            <div class="w3-input-group w3-center">
            	<button  type='button' data-i18n="auth.createAccount" onclick="main.signIn()" class="w3-btn w3-round w3-theme" style="width: 55%;"> </button>
        	</div>
		</div>
	</form>
	<div id='errMsg' data-i18n-attr="errPswd"></div>
</div>	